%h1 Flavor Graph Display

%table
  %tbody
    -# print each ingredient connected to the selected ingredient
    - @connected_ingredients.each do |ingredient|
      %tr
        %td= ingredient.id