%h1 Create New Flavor Graph

= form_tag flavorgraphs_path do

  = label :flavor, :name, 'Flavor'
  %br
  = text_field :flavor, 'flavor', data: { autocomplete: autocomplete_ingredient_id_ingredients_path }
  = submit_tag 'See New Flavor Graph'