%h1{:align => "center"} Flavor Graph for #{(@query_ingredient.id).capitalize}

%table
  %thead
    %tr
      %th Ingredient
      %th Weight
      %th Shared Neighbors
  %tbody
    -# print each ingredient connected to the selected ingredient
    - @connected_ingredients.each do |ingredient|
      %tr
        %td= ingredient[0].id
        %td= ingredient[1].weight
        %td= ingredient[1].shared_neighbors
