%h1 Listing ingredients

%table
  %thead
    %tr
      %th Id
      %th
      %th
      %th

  %tbody
    - @ingredients.each do |ingredient|
      %tr
        %td= ingredient.id
        -#%td= link_to 'Show', ingredient
        -#%td= link_to 'Edit', edit_ingredient_path(ingredient)
        -#%td= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Ingredient', new_ingredient_path
